[submodule ".fixtures/treeseed-fixtures"]
	path = .fixtures/treeseed-fixtures
	url = https://github.com/treeseed-ai/fixtures.git
[submodule "packages/admin"]
	path = packages/admin
	url = https://github.com/treeseed-ai/admin.git
[submodule "packages/agent"]
	path = packages/agent
	url = https://github.com/treeseed-ai/agent.git
[submodule "packages/ai"]
	path = packages/ai
	url = https://github.com/treeseed-ai/ai.git
[submodule "packages/api"]
	path = packages/api
	url = https://github.com/treeseed-ai/api.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/treeseed-ai/cli.git
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/treeseed-ai/core.git
[submodule "packages/reviewer"]
	path = packages/reviewer
	url = https://github.com/treeseed-ai/reviewer.git
[submodule "packages/sdk"]
	path = packages/sdk
	url = https://github.com/treeseed-ai/sdk.git
[submodule "packages/treedx"]
	path = packages/treedx
	url = https://github.com/treeseed-ai/treedx.git
[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/treeseed-ai/ui.git
[submodule "templates/engineering"]
	path = templates/engineering
	url = https://github.com/treeseed-ai/template-engineering.git
[submodule "templates/research"]
	path = templates/research
	url = https://github.com/treeseed-ai/template-research.git
